# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ spite.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
author: Susan Berkman
title: The Foodietitian
email: berkman.susan@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Foodie. Dietitian. Where the fusion of flavor and nutrition meet to promote sustainable health.
baseurl: "thefoodietitian.com" # the subpath of your site, e.g. /blog
url: https://thefoodietitian.com # the base hostname & protocol for your site, e.g. http://example.com
pinterest_username: foodietitian
instagram_username:  thefoodietitian
linkedin_username: susanberkman

# Minima date format
# refer to http://shopify.github.io/liquid/filters/date/ if you want to customize this
minima:
  date_format: "%B %-d, %Y"

permalink: /:year/:month/:day/:title

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
